[user]
	name = John A. Squier
	email = jasquier@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
[diff]
	tool = vscode-diff
[difftool]
	prompt = false
[difftool "vscode-diff"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode-merge
[mergetool]
	keepBackup = false
[mergetool "vscode-merge"]
	cmd = code --wait $MERGED
[alias]
	last = log -1 --abbrev-commit --stat HEAD
	tree = log --graph --oneline
	branch-cleanup = "!git branch --merged master | grep -v \"\\* master\" | xargs -n 1 git push --delete origin; git branch --merged master | grep -v \"\\* master\" | xargs -n 1 git branch -d"
	lg = log --abbrev-commit --graph --stat
[pull]
	rebase = false
