[user]
	name = John A. Squier
	email = jasquier@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
	hookspath = .githooks
[diff]
	tool = vscode-diff
[difftool]
	prompt = false
[difftool "vscode-diff"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode-merge
[mergetool]
	keepBackup = false
[mergetool "vscode-merge"]
	cmd = code --wait $MERGED
[alias]
	last = log -1 --abbrev-commit --stat HEAD
	lg = log --abbrev-commit --graph --stat
	st = status
	ci = commit
	co = checkout
	tre = log --all --graph --oneline
	diffstaged = diff --staged
	cim = commit -m
	lga = log --abbrev-commit --all --graph --stat
	aliases = "!git config --global --list | grep alias | cut -d '.' -f 2-"
	pc = "!git status; git log --all --graph --oneline -5"
	tags = tag --list
	gr = grep -n
	rbi = "!f() { git rebase -i HEAD~$1; }; f"
	lgp = log --abbrev-commit --graph --patch --stat
	fix = "!f() { git commit --fixup=:/$1; }; f"
[pull]
	rebase = false
[rebase]
	autoSquash = true
[init]
	defaultBranch = main
[color]
	ui = true
[help]
	autoCorrect = 10
